html, body {
  font-family: 'Poppins', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}



/* .header-image-section {
  height: 100%;
  position: relative;
  overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;

 }  */


h1 {
  color: hsla(120, 8%, 28%, 0.56);
  font-weight: lighter;
  font-size: 1.6rem;
}



/* .slogan {
  font-family: 'Montserrat', serif;
  color: hsla(229, 69%, 58%, 1);
  font-weight: lighter;
  font-size: 29px;
  text-shadow: 1.5px 1.5px 6px #906eabc7;
} */

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }
.image-fluid {
  max-width: 100%;
  height: auto;
}

/* .snippets-bg {
  background-image: url(images/hero_header.jpg);
  background-size: cover;
} */


/* @media screen and (max-width: 1024px) {
 header.mdl-layout__header {
   display: flex;
 }
} */


.bio-section {
  margin-top: 80px;
  margin-bottom: 50px;
}

.bio-text {
  text-align: center;
  justify-content: center;
  font-size: 20px;
  padding: 25px;
  margin: 5px;
}
