html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.header-bg-image {
   position: relative;
   background: url(images/hero_header.jpg) center / cover;
   height: 50vh;
   justify-content: center;
   text-align: center;
   min-height: 200px;
 }

h1 {
  color: hsla(231, 52%, 45%, 0.66);
  font-weight: bold;
}

#slogan {
  color: hsla(100, 25%, 25%, 0.44);
  font-weight: lighter;
  font-size: 1.8rem;
}


.mdl-layout__content {
  padding-top: 410px;
  max-width: 900px;
}


@media screen and (max-width: 1024px) {
 header.mdl-layout__header {
   display: flex;
 }
}

.project {
  margin-bottom: 20px;
}

.project-description {
  padding-left: 0;
}

.project img {
  max-width: 100%;
  height: auto;
  display: block;
}

.bio-text {
  font-size: 20px;
  padding: 18px;
}

.mdl-card_supporting-text {
  font-size: 15px;
  padding: 8px;
}

.mdl-card_title {
  padding-left: 3px;
}

footer #connect {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}


.fa {
  font-size: 40px;
  margin-top: 20px;
  margin-right: 60px;
}
